	body{
		background:white;
	}
	section{
		margin-top:8%;
		background:white;
	}
	a{
		color: #212121;
	}
	i{
		padding-left: 30px;
		padding-right: 30px;
	}
.location-tag {
  background: #282828;
  border: #dcdcdc;
  border-radius: 0 2px 2px 0;
  color: white;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  left: 0;
  line-height: 40px;
  margin: 20px;
  padding: 0 10px 0 15px;
  position: relative;
  top: 0;
}

.location-tag:before {
  border-bottom: 20px transparent solid;
  border-right: 12px #282828 solid;
  border-top: 20px transparent solid;
  content: '';
  height: 0;
  left: -12px;
  position: absolute;
  top: 0;
  width: 0;
}

.location-tag:after {
  background: white;
  border: 2px #add solid;
  border-radius: 50%;
  content: '';
  height: 6px;
  left: 0;
  position: absolute;
  width: 6px;
  top: 16px;
}

#location{
	z-index: 3;
	position: fixed;
  top: 60px;
  -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg);
}


	.menu{
		font-family: 'Indie Flower', 'cursive';
	}

	.wrapper{
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 30px;
		border-radius: 2px;
	}
	.full{
		width: 100%;
		color: white;
		height: 100vh;
		position: absolute;
		background:#212121;
		top: 0;
		left: 0;
		transition: all 0.5s ease-in-out;
 	    -webkit-transition: all 0.5s ease-in-out;
	}
	.active{
		display: visible;
	}
	.non-active{
		display: none;
	}
	
	.top{
		width: 500px;
		height: 50px;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -250px;
		margin-bottom: 20px;
		background: #212121;
		color: white;
		cursor:pointer;
		box-shadow: 0 5px 10px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.2);
 	    transition: all 0.5s ease-in-out;
 	    -webkit-transition: all 0.5s ease-in-out;
	}
	.top:hover {
  		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	}
	.container-menu{
		width: 50%;
		display: table;
		margin:0px auto;
	}
	.box{
    position: absolute;
    bottom: 0;
    display: table;
    width: 700px;
    left: 50%;
    margin-left: -350px;
    max-height: 360px;
    height: 100%;
}
	#topMenu{
		z-index: 1;
		position: fixed;
	}
	#leftBlock{
		width: 700px;
		position: fixed;
		left: 50%;
		top: 0;
		background: white;
		height: 70px;
		margin-left: -750px;

	}
	#rightBlock{
		width: 700px;
		position: fixed;
		left: 50%;
		top: 0;
		background: white;
		height: 70px;
		margin-left: 250px;

	}

	/* css for the home page */
	.text-box{
		width: 80%;
		float: left;
		font-family: 'Raleway';
		font-weight: bold;
		font-size: 20px;
	}
	.image-box{
		width: 20%;
		float: left;
	}

  .image-box img {
    max-height: 450px;
    bottom: 0px;
    position: absolute;
  }

	#co-oridinates{
		position: absolute;
    	left: 30px;
    	bottom: 15px;
	}

	/* css for menu page */
	#menuHolder{
		position: fixed;
		width: 100%;
		background: white;
		z-index: 2;
	}
	#topBody{
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
	}
	#back-home{
		cursor: pointer;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#back-home:hover{
		cursor: pointer;
	}

	.card{
	width: 100%;
    border: 2px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    transition: all 0.5s ease-in-out;
 	    -webkit-transition: all 0.5s ease-in-out;
	}
	.card:hover{
		background-color: white;
		color: #282828;
		cursor: pointer;
	}

    /* CSS for My timeline*/
    #sectionIntro{
    	width: 100%;
    	position: fixed;
    	top: 70px;
    	background: white;
    	z-index: 2;

    }
    h1, h2, h3 {
  		font-weight: 300;
	}

.container-timeline {
  padding: 3em;
}

.timeline {
  position: relative;
  overflow: auto;
}
.timeline:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 5px;
  background: #404040;
  left: 0;
}
.timeline h2 {
  background: #282828;
  color: white;
  max-width: 6em;
  margin: 0 auto 1em;
  padding: 0.5em;
  text-align: center;
  position: relative;
  clear: both;
}
.timeline ul {
  list-style: none;
  padding: 0 0 0 1em;
  z-index: 1;
}
.timeline li {
  background: #282828;
  color: white;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
}
.timeline li:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 1em solid #404040;
  border-left: 1em solid transparent;
  position: absolute;
  left: -1em;
  top: 0;
}
.timeline h3 {
  margin-top: 0;
}
.timeline time {
  font-style: italic;
}



/* css for the portfolio page */
#card-holder-portfolio{
  margin-left: 20%;
}
.portfolio-card{
	width: 70%;
  max-width: 700px;
  min-width: 300px;
  height: auto;
  display: table;
  margin:0 auto;
  margin-bottom: 50px;
  box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}
.portfolio-image-holder > img{
  width: 100%;
  height: auto;
  padding: 20px;
}

.portfolio-detail-holder > a{
  color:white;
}
.portfolio-card:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	border:none;
}

	/* css for contact us page */
	#googlemaps { 
  		height: 100%; 
  		width: 100%; 
  		position:absolute; 
  		top: 0; 
  		left: 0; 
  		z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
	}
 
	#contactform { 
  		position: relative; 
  		z-index: 1; /* The z-index should be higher than Google Maps */
  		width: 50%;
  		margin: 60px auto 0;
 		padding: 10px;
  		background: black;
  		height: auto;
  		opacity: .75; /* Set the opacity for a slightly transparent Google Form */ 
  		color: white;
	}





/* mobile Site */

@media screen and (max-width: 40em) {

  body{
    width: 100%;
  }

  #navMenu{
    width: 100%;
    overflow: hidden;
  }

  .top{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    left: 0px;
  }

  .box{
    position: static;
  }

  #leftBlock{
    display: none;
  }


  #rightBlock{
    display: none;
  }


  #location{
    display: none;
  }

  .image-box{
    display: none;
  }

  .box{
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 50px;
    width: 100%;
  }

  .text-box{
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    margin: auto;
  }

  #co-oridinates{
    display: none;
  }

i {
    padding-left: 10px;
    padding-right: 10px;
}

.social-channels {
    display: table;
    margin: 0 auto;
}



/* My timeline section */


#sectionIntro{
  display: none;
}



  #contactform{
    width: 90%;
  }
}


@media screen and (min-width: 40em) {
  .container-timeline {
    max-width: 1000px;
    margin: 0 auto;
  }

  .timeline:before {
    left: 50%;
  }
  .timeline ul {
    padding-left: 0;
    max-width: 700px;
    margin: 0 auto;
  }
  .timeline li {
    width: 42%;
  }
  .timeline li:nth-child(even) {
    float: right;
    margin-top: 2em;
  }
  .timeline li:nth-child(odd) {
    float: left;
  }
  .timeline li:nth-child(odd):before {
    border-top: 1em solid #404040;
    border-right: 1em solid transparent;
    right: -1em;
    left: auto;
  }
  .timeline li:nth-of-type(2n+1) {
    clear: both;
  }
}